@model MoviePicker.WebApp.ViewModels.ExpertPicksViewModel

@using MovieMiner;

@{
	ViewBag.Title = "Experts League";
}

<script src="~/Scripts/zIndex.js" type="text/javascript"></script>

<h2>@ViewBag.Title</h2>
<h5>(@Model.Duration.ToString("N0") ms)</h5>

@if (Model.MovieListPerfectPick != null)
{
	<div class="row">
		<div class="col-md-6">
			<h4>Rankings:</h4>

			<div class="col-xs-4" style="font-weight: bold;">Name</div>
			<div class="col-xs-3" style="font-weight: bold;">Estimated BO</div>
			<div class="col-xs-5" style="font-weight: bold;">Behind Perfect Pick</div>

			@if (Model.ExpertPicks.Count > 0)
			{
				foreach (var expertPick in Model.ExpertPicks.OrderByDescending(expert => expert.TotalPicksFromComparison))
				{
					<div class="col-xs-4">@expertPick.Miner.Name</div>
					<div class="col-xs-3">$@expertPick.TotalPicksFromComparison.ToString("N0")</div>
					<div class="col-xs-3">@string.Format("${0:N0}", Model.MovieListPerfectPick.Picks[0].TotalEarnings - expertPick.TotalPicksFromComparison)</div>
					<div class="col-xs-2">@string.Format("{0:N0}%", (Model.MovieListPerfectPick.Picks[0].TotalEarnings - expertPick.TotalPicksFromComparison) / Model.MovieListPerfectPick.Picks[0].TotalEarnings * 100)</div>
				}
			}

			<input class="btn btn-info col-xs-4 col-xs-offset-4"
				   style="margin-top: 10px;"
				   onclick="clickTracking(@string.Format("'{0}'", Guid.NewGuid()))"
				   type="button"
				   value="Perf Pick Comp"
				   data-toggle="tooltip"
				   data-placement="bottom"
				   title="Click to track all the experts against the estimates and Perfect Pick for each movie..." />
		</div>

		<div class="col-md-6">
			@Html.Partial("MovieListMini2", Model.MovieListPerfectPick)
		</div>
	</div>
}

<div class="row">
	@if (Model.ExpertPicks.Count > 0)
	{
		foreach (var expertPick in Model.ExpertPicks)
		{
			<div class="col-md-6">
				<div class="col-xs-12">
					<a class="btn btn-info" style="margin-top: 15px;"
					   href="@expertPick.Miner.UrlSource"
					   target="_blank"
					   data-toggle="tooltip"
					   data-placement="bottom"
					   title="Click for '@expertPick.Miner.Name' source page... (last updated @string.Format("{0}", ((ICache)expertPick.Miner).LastLoaded.ToString()))">
						@expertPick.Miner.Name &nbsp;&nbsp;&nbsp;
						<span class="badge badge-pill badge-light"
							  data-toggle="tooltip"
							  data-placement="right"
							  title="This badge is their total movie count.">@expertPick.Miner.Movies.Count</span>
						</a>
					</div>

					@Html.Partial("MovieListMini2", expertPick.MovieList)

					@Html.Partial("MovieListMini2", expertPick.MovieListBonusOff)
				</div>
			}
		}
		else
		{
				<div class="col-md-5 col-sm-offset-1">
					<p>
						<h4>No experts have weighed in just yet.</h4>
					</p>
					<p>
						<h4>Todd's box office predictions are usually out Tuesday, so stayed tuned!</h4>
					</p>
				</div>
		}
</div>
