@model MoviePicker.WebApp.ViewModels.ExpertPicksViewModel

@using MovieMiner;

@{
	ViewBag.Title = "Experts League";
}

<h2>@ViewBag.Title</h2>
<h5>(@Model.Duration.ToString("N0") ms)</h5>

@if (Model.MovieListPerfectPick != null)
{
	<div class="row">
		<div class="col-md-6">
			@Html.Partial("MovieListMini2", Model.MovieListPerfectPick)
		</div>

		<div class="col-md-6">
			<h3>Rankings:</h3>

			@if (Model.ExpertPicks.Count > 0)
			{
				foreach (var expertPick in Model.ExpertPicks.OrderByDescending(expert => expert.BoxOffice))
				{
				}
			}
			</div>
	</div>
}

<div class="row">

	@if (Model.ExpertPicks.Count > 0)
	{
		foreach (var expertPick in Model.ExpertPicks)
		{
			<div class="col-md-6">
				<div class="col-xs-12">
					<a class="btn btn-info" style="margin-top: 15px;"
					   href="@expertPick.Miner.UrlSource"
					   target="_blank"
					   data-toggle="tooltip"
					   data-placement="bottom"
					   title="Click for '@expertPick.Miner.Name' source page... (last updated @string.Format("{0}", ((ICache)expertPick.Miner).LastLoaded.ToString()))">
						@expertPick.Miner.Name &nbsp;&nbsp;&nbsp;
						<span class="badge badge-pill badge-light"
							  data-toggle="tooltip"
							  data-placement="right"
							  title="This badge is their total movie count.">@expertPick.Miner.Movies.Count</span>
						</a>
					</div>

					@Html.Partial("MovieListMini2", expertPick.MovieList)

					@Html.Partial("MovieListMini2", expertPick.MovieListBonusOff)
				</div>
			}
		}
		else
		{
			<p>
				<h4>No experts have weighed in just yet.</h4>
			</p>
			<p>
				<h4>Todd's box office predictions are usually out Tuesday, so stayed tuned!</h4>
			</p>
		}

</div>
