@model MoviePicker.WebApp.ViewModels.ExpertPicksViewModel

@using MovieMiner;

@{
	/**/

	ViewBag.Title = "Expert Picks";
}

<h2>@ViewBag.Title</h2>
<h4>Work in progress, currently broken.</h4>
<h5>(@Model.Duration.ToString("N0") ms)</h5>

<div class="row">

	@if (Model.ExpertPicks.Count > 0)
	{
		foreach (var expertPick in Model.ExpertPicks)
		{
			<div class="col-md-6">
				<div class="col-xs-12">
					<a class="btn btn-info"
					   href="@expertPick.Miner.UrlSource"
					   target="_blank"
					   data-toggle="tooltip"
					   data-placement="bottom"
					   title="Click for '@expertPick.Miner.Name' source page... (last updated @string.Format("{0}", ((ICache)expertPick.Miner).LastLoaded.ToString()))">
						@expertPick.Miner.Name
					</a>
				</div>

				@Html.Partial("MovieListMini2", expertPick.MovieList)

				<div class="clearfix"></div>
				<div class="row-divider"> </div>

				@Html.Partial("MovieListMini2", expertPick.MovieListBonusOff)

				<div class="clearfix"></div>
				<div class="row-divider"> </div>
			</div>
		}
	}
	else
	{
		<p>
			<h4>No experts have weighed in just yet.</h4>
		</p>
		<p>
			<h4>Todd's box office predictions are usually out Tuesday, so stayed tuned!</h4>
		</p>
	}

</div>