@model MoviePicker.WebApp.ViewModels.HistoryViewModel

@using MoviePicker.WebApp.Utilities;

@{
	ViewBag.Title = "History";

	var count = 0;
	var generatedCode = string.Empty;
}

<script type="text/javascript">

	google.charts.load('current', { packages: ['corechart', 'line'] });
	google.charts.setOnLoadCallback(drawCharts);

	function drawCharts() {

		// Draw all the line graphs.

		@foreach (var movie in Model.Movies)
		{
			// Generate javascript code to draw MANY graphs

			var history = movie.BoxOfficeHistory;

			if (history != null && history.Count() > 1) {
				generatedCode += $"drawChart('chart{count}', '{movie.Name}', {ViewUtility.GraphData(history)});\n";

				count++;
			}
		}

		@Html.Raw(generatedCode)

		//drawChart('chart0', 'Dumbo', [[0, 10], [1, 5], [2, 2]]);
		//drawChart('chart0', 'Dumbo', [[0, 0], [1, 10], [2, 23], [3, 17], [4, 18], [5, 9]]);
		//drawChart('chart1', 'Shazam', [[0, 0], [1, 5], [2, 10], [3, 17], [4, 15], [5, 18]]);
	}

	function drawChart(chartId, title, graphData) {
	//function drawChart() {
		var data = new google.visualization.DataTable();
		data.addColumn('number', 'X');
		data.addColumn('number', title);
		//data.addColumn('number', 'Cats');

		data.addRows(graphData);

		var options = {
			hAxis: {
				title: 'Weekend'
			},
			vAxis: {
				title: 'Box Office $M'
			},
			colors: ['#a52714']
		};

		var chart = new google.visualization.LineChart(document.getElementById(chartId));
		chart.draw(data, options);
	}
</script>

<h2>@ViewBag.Title</h2>
<h5>(@Model.Duration.ToString("N0") ms)</h5>
<h3>Graphs are coming!! (as well as non-linear curve fitting)</h3>

@*
	<div id="chart0"></div>
*@

<div class="row">
	@if (Model.Movies != null && Model.Movies.Any())
	{
		count = 0;

		foreach (var movie in Model.Movies)
		{
			var history = movie.BoxOfficeHistory;

			if (history != null && history.Count() > 1)
			{
				var chartId = $"chart{count}";

				count++;

				<div class="col-md-6">
					<h4>@movie.Name</h4>

					<div id="@chartId"></div>

					<table class="table table-responsive">
						<thead>
							<tr>
								@foreach (var boxOffice in history)
								{
									<td><strong>@boxOffice.WeekendEnding.ToShortDateString()</strong></td>
								}
							</tr>
						</thead>
						<tbody>
							<tr>
								@foreach (var boxOffice in history)
								{
									<td>@boxOffice.Rank</td>
								}
							</tr>
							<tr>
								@foreach (var boxOffice in history)
								{
									<td>$@boxOffice.Earnings.ToString("N0")</td>
								}
							</tr>
							<tr>
								@foreach (var boxOffice in history)
								{
									<td>@boxOffice.TheaterCount.ToString("N0")</td>
								}
							</tr>
						</tbody>
					</table>

				</div>
			}
		}
	}
</div>