@model MoviePicker.WebApp.ViewModels.HistoryViewModel

@using MoviePicker.WebApp.Utilities;

@{
	ViewBag.Title = "History";

	var count = 0;
	var generatedCode = string.Empty;
}

<script type="text/javascript">

	google.charts.load('current', { packages: ['corechart', 'line'] });
	google.charts.setOnLoadCallback(drawCharts);

	function drawCharts() {

		// Draw all the line graphs.

		@foreach (var movie in Model.Movies)
		{
			// Generate javascript code to draw MANY graphs

			var history = movie.BoxOfficeHistory;

			if (history != null && history.Count() > 1) {
				generatedCode += $"drawChart('chart{count}', '{movie.Name}', {ViewUtility.GraphData(history)});\n";

				count++;
			}
		}

		@Html.Raw(generatedCode)
	}

	function drawChart(chartId, title, graphData) {
		var data = new google.visualization.DataTable();
		data.addColumn('number', 'X');
		data.addColumn('number', title);

		data.addRows(graphData);

		var options = {
			hAxis: {
				title: 'Weekend'
			},
			vAxis: {
				title: 'Box Office $M'
			},
			colors: ['#a52714']
		};

		var chart = new google.visualization.LineChart(document.getElementById(chartId));
		chart.draw(data, options);
	}
</script>

<h2>
	@ViewBag.Title
	<span class="btn btn-info btn-xs" style="font-size: large;" data-toggle="tooltip" data-placement="bottom"
		  title="The new movies and movies that are only one week old are not shown since they have zero or one point of data.">
		<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
	</span>
</h2>
<h5>(@Model.Duration.ToString("N0") ms)</h5>

<div class="row">
	@if (Model.Movies != null && Model.Movies.Any())
	{
		count = 0;

		foreach (var movie in Model.Movies)
		{
			var history = movie.BoxOfficeHistory;

			if (history != null && history.Count() > 1)
			{
				var chartId = $"chart{count}";

				count++;

				<div class="col-md-6">
					<h4>@movie.Name</h4>

					<div id="@chartId"></div>

					<table class="table table-responsive">
						<thead>
							<tr>
								<td> </td>
								@foreach (var boxOffice in history)
								{
									<td><strong>@boxOffice.WeekendEnding.ToShortDateString()</strong></td>
								}
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Rank</td>

								@foreach (var boxOffice in history)
								{
									<td>@boxOffice.Rank</td>
								}
							</tr>
							<tr>
								<td>BO</td>

								@foreach (var boxOffice in history)
								{
									<td>$@boxOffice.Earnings.ToString("N0")</td>
								}
							</tr>
							<tr>
								<td>TC</td>

								@foreach (var boxOffice in history)
								{
									<td>@boxOffice.TheaterCount.ToString("N0")</td>
								}
							</tr>
						</tbody>
					</table>

				</div>
			}
		}
	}
</div>