@model MoviePicker.WebApp.Models.PicksViewModel

@{
	ViewBag.Title = "Picks";
}

<h2>@ViewBag.Title</h2>
<h5>weekend ending @Model.Miners.First().Movies.First().WeekendEnding.ToShortDateString() (@Model.Duration.ToString("N0") ms)</h5>
<h5>@Html.ActionLink("Sim", "Simulation", null, htmlAttributes: new { @class = "btn btn-info btn-sm" })</h5>

<table class="table">
	<thead>
		<tr><th>Forecast Weights</th></tr>
		<tr>
			@foreach (var miner in Model.Miners.Where(item => !item.IsHidden))
			{
				<th>
					@miner.Abbreviation
				</th>
			}
		</tr>

	</thead>
	<tbody>
		<tr>
			@foreach (var miner in Model.Miners.Where(item => !item.IsHidden))
			{
				<td>
					@if (miner.Movies?.Count > 0)
				{
						<a href="@Model.GetFMLNerdLink(miner)" class="btn btn-info btn-sm">Analyze</a>
				}
				</td>
			}
		</tr>
		<tr>
			@foreach (var miner in Model.Miners.Where(item => !item.IsHidden))
			{
				<th>
					@miner.Weight
				</th>
			}
		</tr>
	</tbody>
</table>

<div class="row">
	<div class="col-lg-6">

		<div class="col-sm-3">
			<h4>Bonus is ON</h4>
		</div>

		@Html.Partial("MovieList", Model.MovieList)
	</div>

	<div class="col-lg-6">
		<div class="col-sm-3">
			<h4>Bonus is OFF</h4>
		</div>

		@if (Model.MovieListBonusOff != null)
		{
			@Html.Partial("MovieList", Model.MovieListBonusOff);
		}
	</div>
</div>

<h4>Box Office Weighted Averages <a href="@Model.GetFMLNerdLink()" class="btn btn-info btn-sm">Analyze My Numbers</a></h4>

<div class="row">
	<div class="col-lg-12">

		<table class="table table-striped">
			<thead>
				<tr>
					<th>BUX</th>
					<th>Name</th>
					<th>Earnings</th>
					<th>Efficiency</th>
					<th>Rank</th>
					<th>Bonus Earnings</th>
					<th>Difference</th>
					<th>% Difference</th>
				</tr>
			</thead>
			<tbody>
				@{
					var mostEfficient = Model.Movies.OrderByDescending(item => item.Efficiency).First();

					foreach (var movie in Model.Movies)
					{
						var rank = Model.Rank(movie);
						var rankStyle = rank <= 5 ? "text-align: right; font-weight: bold; color: #33cc33" : "text-align: right";
						var rankStyle1 = rank == 1 ? "text-align: right; font-weight: bold; color: #33cc33" : "text-align: right";

						<tr>
							<td style="text-align: right">@movie.Cost</td>
							<td>@movie.Name</td>
							<td style="text-align: right">@movie.EarningsBase.ToString("N0")</td>
							<td style="@rankStyle1">@string.Format("{0}{1:N0}", rank == 1 ? "* " : string.Empty, movie.Efficiency)</td>
							<td style="@rankStyle">@rank</td>
							<td style="text-align: right">@string.Format("{0:N0}", mostEfficient.Efficiency * movie.Cost)</td>

							@if (rank == 1)
							{
								var nextRankedMovie = Model.Movies.FirstOrDefault(item => Model.Rank(item) == 2);

								if (nextRankedMovie != null)
								{
									//How much does the top rank have to LOSE before it's no longer the TOP
									<td style="text-align: right">@string.Format("{0:N0}", nextRankedMovie.Efficiency * movie.Cost - movie.EarningsBase)</td>
									<td style="text-align: right; font-weight: bold; color: #cc3333">@string.Format("{0:N2}%", (nextRankedMovie.Efficiency * movie.Cost - movie.EarningsBase) / movie.EarningsBase * 100)</td>
								}
							}
							else
							{
								<td style="text-align: right">@string.Format("{0:N0}", mostEfficient.Efficiency * movie.Cost - movie.EarningsBase)</td>
								<td style="@rankStyle">@string.Format("{0:N2}%", (movie.EarningsBase > 0) ? (mostEfficient.Efficiency * movie.Cost - movie.EarningsBase) / movie.EarningsBase * 100 : 0)</td>
							}
						</tr>
					}
				}
			</tbody>

			<tfoot>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td style="font-weight: bold; color: #33cc33; text-align: right">* Most Efficient</td>
					<td style="font-weight: bold; color: #33cc33; text-align: right">Top 5</td>
					<td></td>
					<td></td>
					<td style="font-weight: bold; color: #33cc33; text-align: right">Top 5</td>
				</tr>
			</tfoot>
		</table>
	</div>
</div>

<h4>Bonus Comparisons</h4>

<div class="row">
	<div class="col-lg-12">

		<table class="table table-striped">
			<thead>
				<tr>
					<th>BUX</th>
					<th>Name</th>
					<th>Earnings</th>
					<th>Efficiency</th>
					<th>Rank</th>
					<th>Bonus Earnings</th>
					<th>Difference</th>
					<th>% Difference</th>
				</tr>
			</thead>
			<tbody>
				@{
					foreach (var movie in Model.Movies.OrderByDescending(item => item.Efficiency).Take(5))
					{
						var rank = Model.Rank(movie);
						var rankStyle = rank <= 5 ? "text-align: right; font-weight: bold; color: #33cc33" : "text-align: right";
						var rankStyle1 = rank == 1 ? "text-align: right; font-weight: bold; color: #33cc33" : "text-align: right";

						<tr>
							<td style="text-align: right">@movie.Cost</td>
							<td>@movie.Name</td>
							<td style="text-align: right">@movie.EarningsBase.ToString("N0")</td>
							<td style="@rankStyle1">@string.Format("{0}{1:N0}", rank == 1 ? "* " : string.Empty, movie.Efficiency)</td>
							<td style="@rankStyle">@rank</td>
							<td style="text-align: right">@string.Format("{0:N0}", mostEfficient.Efficiency * movie.Cost)</td>

							@if (rank == 1)
							{
								var nextRankedMovie = Model.Movies.FirstOrDefault(item => Model.Rank(item) == 2);

								if (nextRankedMovie != null)
								{
									//How much does the top rank have to LOSE before it's no longer the TOP
									<td style="text-align: right">@string.Format("{0:N0}", nextRankedMovie.Efficiency * movie.Cost - movie.EarningsBase)</td>
									<td style="text-align: right; font-weight: bold; color: #cc3333">@string.Format("{0:N2}%", (nextRankedMovie.Efficiency * movie.Cost - movie.EarningsBase) / movie.EarningsBase * 100)</td>
								}
							}
							else
							{
								<td style="text-align: right">@string.Format("{0:N0}", mostEfficient.Efficiency * movie.Cost - movie.EarningsBase)</td>
								<td style="@rankStyle">@string.Format("{0:N2}%", (mostEfficient.Efficiency * movie.Cost - movie.EarningsBase) / movie.EarningsBase * 100)</td>
							}
						</tr>
					}
				}
			</tbody>

			<tfoot>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td style="font-weight: bold; color: #33cc33; text-align: right">* Most Efficient</td>
					<td style="font-weight: bold; color: #33cc33; text-align: right">Top 5</td>
					<td></td>
					<td></td>
					<td style="font-weight: bold; color: #33cc33; text-align: right">Top 5</td>
				</tr>
			</tfoot>
		</table>
	</div>
</div>