@model MoviePicker.WebApp.Models.PicksViewModel

@{
	ViewBag.Title = "Picks";
}

<h2>@ViewBag.Title</h2>
<h5>weekend ending @Model.Miners.First().Movies.First().WeekendEnding.ToShortDateString()</h5>

<table class="table">
	<thead>
		<tr><th>Miner Weights</th></tr>
		<tr>
			@foreach (var miner in Model.Miners)
			{
				<th>
					@miner.Abbreviation
				</th>
			}
		</tr>

	</thead>
	<tbody>
		<tr>
			@foreach (var miner in Model.Miners)
			{
				<td>
					@if (miner.Movies?.Count > 0)
				{
						<a href="@Model.GetFMLNerdLink(miner)" class="btn btn-info btn-sm">Analyze</a>
				}
				</td>
			}
		</tr>
		<tr>
			@foreach (var miner in Model.Miners)
			{
				<th>
					@miner.Weight
				</th>
			}
		</tr>
	</tbody>
</table>

<div class="row">
	<div class="col-lg-6">

		<div class="col-sm-3">
			<h4>Bonus is ON</h4>
		</div>

		@Html.Partial("MovieList", Model.MovieList)
	</div>

	<div class="col-lg-6">
		<div class="col-sm-3">
			<h4>Bonus is OFF</h4>
		</div>

		@Html.Partial("MovieList", Model.MovieListBonusOff)
	</div>
</div>

<h4>Box Office Weighted Averages <a href="@Model.GetFMLNerdLink()" class="btn btn-info btn-sm">Analyze</a></h4>

<div class="row">
	<div class="col-lg-6">

		<table class="table">
			<thead>
				<tr>
					<th>BUX</th>
					<th>Name</th>
					<th>Earnings</th>
					<th>Efficiency</th>
					<th>Rank</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var movie in Model.Movies)
				{
					<tr>
						<td style="text-align: right">@movie.Cost</td>
						<td>@movie.Name</td>
						<td style="text-align: right">@movie.Earnings.ToString("N0")</td>
						<td style="text-align: right">@movie.Efficiency.ToString("N2")</td>
						<td style="text-align: right">@Model.Rank(movie)</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>