@model MovieMiner.IMiner

@using MovieMiner

@{
	ViewBag.Title = "Miner";
}

<h2>@ViewBag.Title</h2>

<h3>@Model.Name (@Model.Movies.Count)</h3>

<div class="row">
	<div class="col-sm-4 hidden-xs" style="font-weight: bold;">Name</div>
	<div class="col-sm-1 hidden-xs" style="font-weight: bold;">ID</div>
	<div class="col-sm-2 hidden-xs" style="font-weight: bold;">Earnings</div>
	<div class="col-sm-5 hidden-xs" style="font-weight: bold;">Blank</div>

	@foreach (var movie in Model.Movies)
	{
		<div class="col-xs-6 hidden-sm hidden-md hidden-lg" style="font-weight: bold;">@movie.Name</div>
		<div class="col-sm-4 hidden-xs">@movie.Name</div>
		<div class="col-sm-1 hidden-xs">@movie.Id</div>

		<div class="col-xs-6 col-sm-2" style="text-align: right;">@string.Format("{0:N0}", movie.Earnings)</div>

		<div class="col-sm-5 hidden-xs">#</div>
	}
</div>