@model MovieMiner.IMiner

@using MovieMiner
@using MoviePicker.WebApp.Models

@{
	ViewBag.Title = "Miner";
}

<h2>@ViewBag.Title</h2>

<div>@Html.ActionLink("Expire Miner", "ExpireMiner", new { minerName = Model.Name }, htmlAttributes: new { @class = "btn btn-info" })</div>

<h4>Last Updated: @string.Format("{0}", ((ICache)Model).LastLoaded)</h4>
<h4>Expires: @string.Format("{0}", ((ICache)Model).Expiration)</h4>

<h3>@Model.Name (@string.Format("{0}", Model.Movies?.Count ?? 0))</h3>

<div class="row">
	<div class="col-sm-4 hidden-xs" style="font-weight: bold;">Name</div>
	<div class="col-sm-1 hidden-xs" style="font-weight: bold;">ID</div>
	<div class="col-sm-2 hidden-xs" style="font-weight: bold;">Earnings</div>
	<div class="col-sm-3 hidden-xs" style="font-weight: bold;">Weekend</div>
	<div class="col-sm-2 hidden-xs" style="font-weight: bold;">History</div>

	@if (Model.Movies != null)
	{
		foreach (var movie in Model.Movies)
		{
			<div class="col-xs-6 hidden-sm hidden-md hidden-lg" style="font-weight: bold;">@movie.Name</div>
			<div class="col-sm-4 hidden-xs">@movie.Name</div>
			<div class="col-xs-1">@movie.Id</div>

			<div class="col-xs-5 col-sm-2" style="text-align: right;">@string.Format("{0:N0}", movie.Earnings)</div>

			<div class="col-sm-3 hidden-xs">@string.Format("{0}", movie.WeekendEnding.ToShortDateString())</div>
			<div class="col-sm-2 hidden-xs">@string.Format("{0}", movie.BoxOfficeHistory?.Count().ToString() ?? "--")</div>
		}
	}
</div>

@if (Model.Picks != null && Model.Picks.Movies != null && Model.Picks.Movies.Any())
{
	@Html.Partial("MovieListMini2", new MovieListModel("Bonus ON", Model.Picks))
}

@if (Model.PicksBonusOff != null && Model.PicksBonusOff.Movies != null && Model.PicksBonusOff.Movies.Any())
{
	@Html.Partial("MovieListMini2", new MovieListModel("Bonus OFF", Model.PicksBonusOff))
}