@using MoviePicker.WebApp.Models

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Since there is no reference to a Model, the ViewBag is needed to send values to this view wrapper. -->

	@if (ViewBag.TwitterCard != null)
	{
		<meta name="twitter:card" content="@ViewBag.TwitterCard" />
		<meta name="twitter:site" content="@ViewBag.TwitterId" />
		<meta name="twitter:creator" content="@ViewBag.TwitterCreatorId" />
		<meta name="twitter:title" content="@ViewBag.TwitterTitle" />
		<meta name="twitter:description" content="@ViewBag.TwitterDescription" />
		<meta name="twitter:image" content="@ViewBag.TwitterImage" />
		<meta name="twitter:image:alt" content="@ViewBag.TwitterImageAlt" />

		<meta property="og:title" content="@ViewBag.TwitterTitle" />
		<meta property="og:description" content="@ViewBag.TwitterDescription" />
		<meta property="og:image" content="@ViewBag.TwitterImage" />
		<meta property="og:url" content="@ViewBag.OpenGraphUrl">
	}

	<title>@ViewBag.Title - @Constants.APPLICATION_NAME</title>

	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")

	@* Only spit out the Google Ad script on SELECT pages. *@

	@*
			This probably won't happen.  Damn Google AdSense and their "criteria"

		@if (ViewBag.IsGoogleAdValid)
		{
			<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
				<script>
					(adsbygoogle = window.adsbygoogle || []).push({
						google_ad_client: "ca-pub-8791392312556224",
						enable_page_level_ads: true
					});
				</script>
		}*@

	<link rel="icon" type="image/png" href="http://mooveepicker.azurewebsites.net/images/favicon.png">
</head>

<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

				<a class="navbar-brand" href="@Url.Action("Index", "Home")">
					<span>
						<img src="~/Images/Moovee Picker Cow32x32.png" alt="Moovee Picker Logo" width="32" height="32" />
						@Constants.APPLICATION_NAME
					</span>
				</a>

				@*@Html.ActionLink("Moovee Picker", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li>@Html.ActionLink("Home", "Index", "Home")</li>
					<li>@Html.ActionLink("About", "About", "LowMem")</li>
					<li>@Html.ActionLink("Contact", "Contact", "LowMem")</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container body-content">
		@RenderBody()
		<hr />
		<footer>
			<div class="row">
				<div class="col-sm-3">
					&copy; 2017-@DateTime.Now.Year - <a href="http://SpilledMilk.com" target="_blank">@Constants.COMPANY_NAME</a>
				</div>

				<div class="col-sm-3">
					<!-- Just some spacing -->
				</div>

				<div class="col-sm-4">
					<a href="https://twitter.com/SpilledMilkCOM" class="twitter-follow-button" data-show-count="true">Follow @@SpilledMilkCOM</a>
				</div>

				<div class="col-sm-2">
					@if (string.IsNullOrEmpty(ViewBag.TwitterTweetText))
					{
						<a class="twitter-share-button" href="https://twitter.com/intent/tweet">Tweet</a>
					}
					else
					{
						<a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=@ViewBag.TwitterTweetText">Tweet</a>
					}

					@*
						@if (string.IsNullOrEmpty(ViewBag.TwitterTweetUrl))
						{
							<a class="twitter-share-button" href="https://twitter.com/share">Tweet</a>
						}
						else
						{
							<a class="twitter-share-button" href="@ViewBag.TwitterTweetUrl">Tweet</a>
						}
					*@
				</div>
			</div>
		</footer>
	</div>

	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")

	@*  Has to go last to initialize stuff  *@

	@Scripts.Render("~/bundles/utilities")

	@RenderSection("scripts", required: false)
</body>
</html>