@model MoviePicker.WebApp.Interfaces.IMovieListModel

@foreach (var pick in Model.Picks)
{
	<div class="col-sm-3">
		<h4>Total Cost (BUX): @pick.TotalCost</h4>
	</div>
	<div class="col-sm-6">
		<h4>Total Earnings: $@pick.TotalEarnings.ToString("N0")</h4>
		@*<h5>@Model.ComparisonHeader: $@Model.TotalPicksFromComparison.ToString("N0")</h5>*@
	</div>

	<div class="clearfix"></div>

	foreach (var movie in pick.Movies.OrderByDescending(item => item.Cost))
	{
		<div class="col-xs-3 col-sm-1" style="padding: 3px">
			<div class="movie-card" data-toggle="tooltip" data-placement="bottom"
				 title="@string.Format("{0} - ${1:N0}", movie.Name, movie.Earnings)">
				<img class="img-responsive" height="100" src="@movie.ImageUrl" alt="@movie.Name" />
			</div>
		</div>
	}
}