@model MoviePicker.WebApp.Interfaces.IMovieListModel

@{
	int pickCount = 0;
}

@foreach (var pick in Model.Picks)
{
	<div class="col-sm-3">
		<h5 style="font-weight: bold;">@Model.ComparisonHeader</h5>
	</div>
	<div class="col-sm-4">
		<h5>Earnings: $@pick.TotalEarnings.ToString("N0")</h5>
	</div>
	<div class="col-sm-3">
		<h5>Cost (BUX): @pick.TotalCost</h5>
	</div>

	if (Model.ComparisonHeader == "Bonus ON")
	{
		<div class="col-sm-2">
			<a class="btn btn-info btn-xs"
			   @* Generate a unique ID so Twitter won't cache the image and share them to other tweets. *@
			   href="@string.Format("ShareBonusOnPicks?{0}&id={1}", Model.ShareQueryString, Guid.NewGuid())"
			   data-toggle="tooltip"
			   data-placement="bottom"
			   title="Click to share your @Model.ComparisonHeader picks...">
				Share &nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-share" aria-hidden="true"></span>
			</a>
		</div>
	}
	else
	{
		<div class="col-sm-2">
			<a class="btn btn-info btn-xs"
			   @* Generate a unique ID so Twitter won't cache the image and share them to other tweets. *@
			   href="@string.Format("ShareBonusOffPicks?{0}&id={1}", Model.ShareQueryString, Guid.NewGuid())"
			   data-toggle="tooltip"
			   data-placement="bottom"
			   title="Click to share your @Model.ComparisonHeader picks...">
				Share  &nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-share" aria-hidden="true"></span>
			</a>
		</div>
	}

	<div class="col-xs-12">
		<table>
			<tr>
				@{
					int movieCount = 0;

					foreach (var movie in pick.Movies.OrderByDescending(item => item.Cost))
					{
						@* This should override what's in the style (for now) *@

						//var backgroundStyle = (movie.IsBestPerformer) ? "background-color: lightgreen;" : string.Empty;
						var backgroundStyle = (movie.IsBestPerformer) ? "box-shadow: 2px 4px 8px 0px green;" : "box-shadow: 2px 4px 8px 0px grey;";

						<td style="padding: 3px;">
							<div data-toggle="tooltip" data-placement="bottom"
								 title="@string.Format("{0} - ${1:N0}", movie.Name, movie.Earnings)">

								<img id="@string.Format("{0}{1}{2}", Model.Id, pickCount, movieCount)" class="img-responsive" src="@movie.ImageUrl" alt="@movie.Name" style="border-radius: 3px; @backgroundStyle" />
							</div>
						</td>

						movieCount++;
					}
				}
			</tr>
		</table>
	</div>

	pickCount++;
}