@model MoviePicker.WebApp.Interfaces.IMovieListModel

@using MoviePicker.Common.Interfaces;

@{
	/**/

	const int MAX_SCREENS = 8;

	int pickCount = 0;
}

@foreach (var pick in Model.Picks)
{
	<div class="col-xs-12 col-sm-3">
		<h5 id="@string.Format("{0}ComparisonHeaderId", Model.Id)" style="font-weight: bold;">@Model.ComparisonHeader</h5>
	</div>
	<div class="col-xs-5 col-sm-4">
		<h5 id="@string.Format("{0}TotalEarningsId", Model.Id)">Earnings: $@pick.TotalEarnings.ToString("N0")</h5>
	</div>
	<div class="col-xs-5 col-sm-3">
		<h5 id="@string.Format("{0}TotalCostId", Model.Id)">@pick.TotalCost BUX</h5>
	</div>

	if (!string.IsNullOrEmpty(Model.ShareQueryString))
	{
		var pagePiece = Model.ComparisonHeader == "Bonus ON" ? "On" : "Off";

		<div class="col-xs-2">
			<a id="@string.Format("{0}SharePicksId", Model.Id)" class="btn btn-info btn-xs" style="margin-top: 7px;"
			   @* Generate a unique ID so Twitter won't cache the image and share them to other tweets. *@
			   href="@string.Format("ShareBonus{0}Picks?{1}&id={2}", pagePiece, Model.ShareQueryString, Guid.NewGuid())"
			   data-toggle="tooltip"
			   data-placement="bottom"
			   title="Click to share your '@Model.ComparisonHeader' picks...">
				Share &nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-share" aria-hidden="true"></span>
			</a>
		</div>
	}

	<div class="col-xs-12">
		<table>
			<tr>
				@{
					int movieCount = 0;
					var orderedMovies = pick.Movies.ToList();

					for (int movieIndex = 0; movieIndex < MAX_SCREENS; movieIndex++)
					{
						var backgroundStyle = "box-shadow: 2px 4px 8px 0px grey;";
						var imageUrl = "/Images/MooveePosterBlank.jpg";
						var movieEarnings = -2000000m;
						var movieName = "This Screen Intentionally Left Blank";

						if (movieIndex < orderedMovies.Count)
						{
							var movie = orderedMovies[movieIndex];

							imageUrl = movie.ImageUrl;
							movieEarnings = movie.Earnings;
							movieName = movie.Name;

							if (movie.IsBestPerformer)
							{
								backgroundStyle = "box-shadow: 2px 4px 8px 0px green;";
							}
						}

						@* This should override what's in the style (for now) *@

						<td style="padding: 3px;">
							<div id="@string.Format("{0}TooltipId{1}{2}", Model.Id, pickCount, movieCount)" data-toggle="tooltip" data-placement="bottom"
								 title="@string.Format("{0} - ${1:N0}", movieName, movieEarnings)">

								<img id="@string.Format("{0}MoviePosterId{1}{2}", Model.Id, pickCount, movieCount)"
									 class="img-responsive"
									 src="@imageUrl"
									 alt="@movieName"
									 style="border-radius: 3px; @backgroundStyle" />
							</div>
						</td>

						movieCount++;
					}
				}
			</tr>
		</table>
	</div>
}